.App {
  /* gap: 30px; */
  max-width: 1200px;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr;
  backdrop-filter: blur(1px);
}

.btnAbout,
.btnMyProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px 24px;
  height: 48px;
  width: 184px;
  transition: transform 0.2s ease-in-out;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btnAbout {
  width: 270px;
}

.btnMyProjects {
  margin-left: 0;
  color: #e8e8e8;
  background: #495464;
}

.btnMyProjects:hover,
.btnAbout:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btnMyProjects:hover {
  background: #5f6c81;
}
.btnAbout:hover {
  background-color: #f1f1f1;
}

/*/////////////////////////////////*/

.bodySection {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.mainSection,
.education {
  margin: 72px 0 0 350px;
}

.sideInfo {
  position: fixed;
  z-index: -0;
  width: 290px;
  margin: 72px 30px;
  background: none;
}

.sideInfoPhotoSection {
  padding: 15px;
  margin: 0 10px 24px;
  /* border-radius: 15px; */
  height: 235px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #e8e8e8;
  color: #495464;
}

.sideInfoPhotoSection img {
  display: flex;
  align-items: center;
  margin-top: 4px;
  height: 130px;
  width: 130px;
  border-radius: 75px;
  filter: grayscale(100%);
}

.sideInfoPhotoSection p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  background: none;
}

.sideInfoPhotoSection h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  font-weight: 600;
  line-height: 1.7;
  background: none;
}

.sideInfoContact {
  padding: 15px;
  margin: 0 10px 24px;
  /* border-radius: 15px; */
  font-weight: 600;
  line-height: 1.7;
  transition: transform 0.2s ease-in-out;
  color: #495464;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #e8e8e8;
}

.sideInfoContact a {
  display: block;
  color: #495464;
  text-decoration: none;
}

.sideInfoContact:visited a {
  color: #495464;
}

.sideInfoSkills {
  padding: 15px;
  margin: 0 10px 32px;
  /* border-radius: 15px; */
  font-weight: 600;
  line-height: 1.7;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  color: #495464;
  background-color: #e8e8e8;
}

.sideInfoSkills div {
  background: none;
}

.sideInfoPhotoSection:hover,
.sideInfoContact:hover,
.sideInfoSkills:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/*/////////////////////////////////////*/

.none {
  display: none;
}

.mainSection {
  width: 900px;
  height: 230px;
}

.mainSection h1 {
  margin-left: 0;
  width: 380px;
  color: #495464;
}

.myExpirience {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 30px 0 0;
  border: none;
  font-weight: 600;
  line-height: 1.7;
  color: #495464;
}

.education {
  width: 900px;
  height: 230px;
  margin-top: 24px;
  color: #495464;
}

.education a {
  color: #495464;
}

.myUniverLesson {
  width: 900px;
  height: 230px;
  margin-top: 30px;
  font-weight: 600;
  line-height: 1.7;
  color: #495464;
}
.myUniverLesson a {
  width: 900px;
  height: 230px;
  margin-top: 30px;
  font-weight: 600;
  line-height: 1.7;
  color: #495464;
}

.udemyLink {
  text-decoration: none;
}
.udemyLink:visited {
  text-decoration: none;
  color: #495464;
}

/*/////////////////////////////////////*/

.projects {
  /* margin-left: 270px; */
  width: 900px;
}

.project {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-left: 350px;
  width: 900px;
}

.project h1 {
  margin: 0 0 20px 0;
  font-weight: 700;
  line-height: 1.7;
  color: #495464;
}

.projectInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 30px 36px 0;
}

.projectDescription {
  font-weight: 600;
  line-height: 1.7;
  color: #495464;
}

.img {
  height: 271px;
  width: 420px;
  background-image: url("./components/22.png");
  /* filter: grayscale(100%); */
}

.omnifood {
  margin-top: 120px;
}

.chairStore {
  margin-top: 65px;
  background-image: url("./components/mac.png");
}

.pigGame {
  margin-top: 65px;
  background-image: url("./components/PigGame.png");
}

.guessMyNumber {
  margin-top: 65px;
  background-image: url("./components/GuessMyNumber.png");
}

.mapty {
  margin-top: 65px;
  background-image: url("./components/mapty.png");
}
